services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      -DATABASE_URL=postgres:postgres:password@db:5432/ghost_db
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ghost_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
